/*--------HEADER-------*/
.paddingtitle{
    padding-top:25px;
    text-align: center;
}

.title {
    font-family: "Nunito", Arial;
    font-weight: 800;
    font-size: 45px;
    line-height: 50px;
    text-transform: uppercase;
    color:#004054;
    text-decoration: none !important;
    top: 0.5%;
    position: relative;
}

/*--------Index-------*/
.index-body-size{
    position: fixed;
    height: 100%;
    width: 100%;
    margin-top: -27px;
    margin-left: 0px;
}

.indexcontent{
    text-align: center;
    margin-top: 1%;
}

.welcome-header{
    text-align: center;
    margin-bottom: 15px;
    font-family: "Nunito", Arial;
    font-size: 30px;
    text-transform: uppercase;
    color:#004054;
    margin-bottom: 20px;
}

#welcome-text{
    max-width: 100px;
}

/*--------Navigation buttons-------*/
.center-btn{
    margin-right: 20px;
}

.mainbutton{
    border-radius: 50%;
    color: #004054;
    background: radial-gradient(#5adae9, #017296);
    height: 130px;
    width: 130px;
    font-family: "Nunito", Arial;
    font-weight: 800;
    font-size:16px;
    border: 3px solid #00516b;
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
    margin-bottom: 22px;
    margin-top: 22px;
    margin-left: 40px;
}

.mainbutton:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.mainbutton span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.mainbutton span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.mainbutton:hover span{
  padding-right: 25px;
}

.mainbutton:hover span:after{
  opacity: 1;
  right: 0;
}

.navigation-link-inline{
    display: inline;
}


/*--------GENERAL-------*/

.navbar-fixed-bottom{
    margin-left: 20px;
    margin-right:24px;
}

.index-background{
    position: relative;
    background-repeat:no-repeat;
    background-size:cover;
    background-image: url("../pictures/html_background.jpg");
    height: 107%;
    width: 100%;
}

.body-account{
    padding-bottom:60px;
    height: 100%;
}

.h2-chart-heading{
  font-family: "Nunito", Arial;
  font-weight: 700;
  font-size:  43px;
  color:#004054;
  text-align: center;
  margin-top: 30px;
}

.welcome-text{
  font-family: "Nunito", Arial;
  color:black;
  font-size: 13px;
  text-decoration: none!important;
  text-align: justify;
  max-width: 203px;
  margin: 0 auto;
}

.container{
    width: 100% !important;
}

.h2-chart-heading{
    text-align: center;
}

/*--------------SELECTORS AND DROPDOWNS -------------------*/
#salary-type-selector > select,
#index-background > div > div.container > div:nth-child(2) > div > button,
#index-background > div > div.row > div > button
{
    font-family: "Nunito", Arial;
    font-size: 16px;
    background-color: inherit;
    height: 30px;
    width: 130px;
    font-weight: 800;
    border: 3px solid #00516b;
    text-align: center;
}

#salary-type-selector > select,button, input, select, textarea,
#index-background > div > div.container > div:nth-child(2) > div > button,
#index-background > div > div.row > div > button{
    background-color: #D3F8FF;
    border-radius: 25%;
    text-align: center;
}

#index-background > div > div.container > div:nth-child(2) > div > button > a,
#index-background > div > div.row > div > button > a{
    text-transform: uppercase;
}

#index-background > div > div.container > div:nth-child(2) > div > button{
    margin-top:10px!important;
}

.btn-default{
    padding-top:1px!important;
}

#salary-type-selector > select > option:nth-child(1){
    text-transform: uppercase;
}

/*--------------GRAPHS AND CHARTS GENERAL  -------------------*/
/*below make sures that line grap renders as a line and not as an area*/
.line {
         fill: none;
         stroke: #004054;
         stroke-width: 6px;
         }

#Cost-Per-Type > svg,
#Cost-Over-Time > svg,
#cost-per-account > svg,
#total-cost-stacked-bar-chart > svg,
#salary-type-selector > select,
#index-background > div > div.container > div:nth-child(2) > div > button,
#index-background > div > div.row > div > button{
    display:block;
    margin:auto;
}

#Cost-Over-Time > svg > g > g.axis.y,
#Cost-Over-Time > svg > g > g.axis.x,
#cost-per-account > svg >.dc-legend,
#total-cost-stacked-bar-chart > svg > g > g.axis.y,
#total-cost-stacked-bar-chart > svg > g > g.axis.x,
#salary-type-selector > select,button, input, select, textarea,
#salary-type-selector > select > option,
#index-background > div > div.container > div:nth-child(2) > div > button > a,
#index-background > div > div.row > div > button > a{
    font-family: "Nunito", Arial;
    font-size: 16px;
    color:#004054;
}

/*--------------GRAPHS AND CHARTS SPECIFIC-------------------*/
#Cost-Per-Type
 .axis.y { display: none;
 }

#Cost-Per-Type > svg > g > g.axis.x > g > text{
    text-anchor: end !important;
}

#cost-per-account > svg >.dc-legend{
    text-transform: uppercase;
}

#Cost-Over-Time > svg > g > g.axis.x {
    font-size: 13.5px;
}

#Cost-Over-Time > svg > g > g.axis.x > g > text{
    transform:rotate(-35deg);
    margin-top: 30px;
    text-anchor: end !important;
}

#Cost-Over-Time > svg{
    overflow: visible;
}

#Cost-Over-Time > svg > g > g.axis.x > g:nth-child(2){
    margin-top: 10px;
}


/*--------------FOOTER-------------------*/

.footerbackgrund{
  bottom: 0;
  margin-top: 50px;
  border-radius: 170px 170px 0px 0px;
  background-repeat:no-repeat;
  background-size:cover;
  background-image: url("../pictures/footerbackground.jpg");
  height: 60px;
}


/*-------------MEDIA QUERYS-----------*/
@media  (min-width: 0px) and (max-width: 426px){
    .title{
        font-weight: 800;
        font-size: 24px;
        line-height: 40px;
        padding-top: 20px;
    }

    .welcome-header{
        font-size: 20px;
    }

    .h2-chart-heading{
        font-size:  25px;
    }
}

@media (max-width: 320px){
   .welcome-text{
        font-size: 12px;
    }
}


@media (max-width: 404px){
    .mainbutton{
        height: 85px;
        width: 85px;
        font-size: 11px;
    }
}

@media  (min-width: 427px) and (max-width: 768px) {
    .title {
        font-weight: 800;
        font-size: 35px;
        line-height: 30px;
        padding-top: 20px;
    }

    .h2-chart-heading{
        font-size:  30px;
    }
}


@media (min-width: 768px){

    .welcome-text{
        font-size: 15px;
        max-width: 295px;
    }

    .index-body-size{
    margin-top: -31px;
    }

   .navbar-fixed-bottom {
    margin-bottom: -25px;
    }
}